# compiled java classes
proj/p1/ast/*.class
proj/p1/interpreter/*.class
proj/p1/parser/*.class
proj/p2/ast/*.class
proj/p2/interpreter/*.class
proj/p2/parser/*.class

# make output
proj/p1/parser/Lexer.java
proj/p1/parser/Parser.java
proj/p1/parser/sym.java

# jflex output
proj/jflex-1.7.0/target/

# packed output
dist/
